<a href="https://colab.research.google.com/github/Sniperpilot16/DSPS_MRichardson/blob/master/Z_testlab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [0]:
rain = pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS/master/labs/1865331.csv")

In [0]:
rain.describe()

              PRCP        SNOW        SNWD        WESD        WESF
count  3538.000000  2266.00000  216.000000  175.000000  256.000000
mean      0.137340     0.09594    1.026852    0.160571    0.073828
std       0.382174     0.64966    2.738447    0.457994    0.175507
min       0.000000     0.00000    0.000000    0.000000    0.000000
25%       0.000000     0.00000    0.000000    0.000000    0.000000
50%       0.000000     0.00000    0.000000    0.000000    0.000000
75%       0.070000     0.00000    0.350000    0.100000    0.100000
max       6.960000    12.30000   16.400000    2.400000    1.400000

%50 percentile = median 
25% = quartile

In [0]:
rain.columns

Index(['STATION', 'NAME', 'DATE', 'PRCP', 'SNOW', 'SNWD', 'WESD', 'WESF'], dtype='object')

gives names of the columns; station through date do not come up in the table above because they are strings and these functions will not perform on strings

In [0]:
rain[["DATE", "PRCP"]]

            DATE  PRCP
0     2010-01-01  0.28
1     2010-01-02  0.00
2     2010-01-03  0.00
3     2010-01-04  0.00
4     2010-01-05  0.00
5     2010-01-06  0.00
6     2010-01-07  0.00
7     2010-01-08  0.05
8     2010-01-09  0.00
9     2010-01-10  0.00
10    2010-01-11  0.00
11    2010-01-12  0.00
12    2010-01-13  0.00
13    2010-01-14  0.00
14    2010-01-15  0.00
15    2010-01-16  0.00
16    2010-01-17  0.00
17    2010-01-18  0.74
18    2010-01-19  0.00
19    2010-01-20  0.00
20    2010-01-21  0.00
21    2010-01-22  0.00
22    2010-01-23  0.00
23    2010-01-24  0.00
24    2010-01-25  0.38
25    2010-01-26  1.42
26    2010-01-27  0.00
27    2010-01-28  0.00
28    2010-01-29  0.00
29    2010-01-30  0.00
...          ...   ...
3508  2019-08-10  0.00
3509  2019-08-11  0.00
3510  2019-08-12  0.00
3511  2019-08-13  0.00
3512  2019-08-14  0.05
3513  2019-08-15  0.94
3514  2019-08-16  0.00
3515  2019-08-17  0.00
3516  2019-08-18  0.00
3517  2019-08-19  0.04
3518  2019-08-20  0.00
3519  2019-08-21  0.07
3520  2019-08-22  0.00
3521  2019-08-23  0.26
3522  2019-08-24  0.21
3523  2019-08-25  0.00
3524  2019-08-26  0.00
3525  2019-08-27  0.00
3526  2019-08-28  0.00
3527  2019-08-29  0.01
3528  2019-08-30  0.00
3529  2019-08-31  0.00
3530  2019-09-01  0.00
3531  2019-09-02  0.00
3532  2019-09-03  0.00
3533  2019-09-04  0.00
3534  2019-09-05  0.00
3535  2019-09-06  0.00
3536  2019-09-07  0.02
3537  2019-09-08  0.00

[3538 rows x 2 columns]

In [0]:
rain["DATE"].values

array(['2010-01-01', '2010-01-02', '2010-01-03', ..., '2019-09-06',
       '2019-09-07', '2019-09-08'], dtype=object)

Will extract values from the series

In [0]:
rain[["DATE", "PRCP"]]

            DATE  PRCP
0     2010-01-01  0.28
1     2010-01-02  0.00
2     2010-01-03  0.00
3     2010-01-04  0.00
4     2010-01-05  0.00
5     2010-01-06  0.00
6     2010-01-07  0.00
7     2010-01-08  0.05
8     2010-01-09  0.00
9     2010-01-10  0.00
10    2010-01-11  0.00
11    2010-01-12  0.00
12    2010-01-13  0.00
13    2010-01-14  0.00
14    2010-01-15  0.00
15    2010-01-16  0.00
16    2010-01-17  0.00
17    2010-01-18  0.74
18    2010-01-19  0.00
19    2010-01-20  0.00
20    2010-01-21  0.00
21    2010-01-22  0.00
22    2010-01-23  0.00
23    2010-01-24  0.00
24    2010-01-25  0.38
25    2010-01-26  1.42
26    2010-01-27  0.00
27    2010-01-28  0.00
28    2010-01-29  0.00
29    2010-01-30  0.00
...          ...   ...
3508  2019-08-10  0.00
3509  2019-08-11  0.00
3510  2019-08-12  0.00
3511  2019-08-13  0.00
3512  2019-08-14  0.05
3513  2019-08-15  0.94
3514  2019-08-16  0.00
3515  2019-08-17  0.00
3516  2019-08-18  0.00
3517  2019-08-19  0.04
3518  2019-08-20  0.00
3519  2019-08-21  0.07
3520  2019-08-22  0.00
3521  2019-08-23  0.26
3522  2019-08-24  0.21
3523  2019-08-25  0.00
3524  2019-08-26  0.00
3525  2019-08-27  0.00
3526  2019-08-28  0.00
3527  2019-08-29  0.01
3528  2019-08-30  0.00
3529  2019-08-31  0.00
3530  2019-09-01  0.00
3531  2019-09-02  0.00
3532  2019-09-03  0.00
3533  2019-09-04  0.00
3534  2019-09-05  0.00
3535  2019-09-06  0.00
3536  2019-09-07  0.02
3537  2019-09-08  0.00

[3538 rows x 2 columns]

In [0]:
rainonly = rain[["DATE", "PRCP"]]

In [0]:
rainonly.DATE.dtype

dtype('O')

TYPE = 'o' which means object

In [0]:
rainonly['date'] = pd.to_datetime(rainonly.DATE)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
rainonly.head()

         DATE  PRCP       date
0  2010-01-01  0.28 2010-01-01
1  2010-01-02  0.00 2010-01-02
2  2010-01-03  0.00 2010-01-03
3  2010-01-04  0.00 2010-01-04
4  2010-01-05  0.00 2010-01-05

In [0]:
recent = rainonly[rainonly['date'] > pd.to_datetime("2018/01/01")]

In [0]:
recent.head()

            DATE  PRCP       date
2923  2018-01-02  0.00 2018-01-02
2924  2018-01-03  0.00 2018-01-03
2925  2018-01-04  0.07 2018-01-04
2926  2018-01-05  0.20 2018-01-05
2927  2018-01-06  0.00 2018-01-06

In [0]:
recent.describe()

             PRCP
count  615.000000
mean     0.162504
std      0.365007
min      0.000000
25%      0.000000
50%      0.000000
75%      0.120000
max      2.450000

In [0]:
z = (0.163504 - 0.137)/(0.38/np.sqrt(615))

In [0]:
print(z)

1.7296784880497764